{
  "semi": true,
  "singleQuote": true,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "printWidth": 90,
  "tabWidth": 2,
  "trailingComma": "es5"
}
